<div
    data-ui-role="bento-box-panel-box"
    data-ui-drill-stack="active"
    hidden
>
    <button type="button" data-ui-action="bento-drill-back">‹ Back</button>
    <h3 data-ui-part="bento-box-panel-heading"></h3>
    <ul data-ui-part="bento-box-panel-links"></ul>
</div>
