<button
    type="button"
    role="combobox"
    aria-haspopup="listbox"
    aria-expanded="false"
    data-ui-role="combobox-trigger"
    data-action="click->symfony--ux-blocks-extended--combobox#toggle"
    data-symfony--ux-blocks-extended--combobox-target="trigger"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
