<button
    type="button"
    aria-expanded="false"
    aria-controls=""
    data-ui-role="stacked-layout-nav-toggle"
    data-action="click->symfony--ux-blocks-extended--stacked-layout-interactive#toggleNav"
    data-symfony--ux-blocks-extended--stacked-layout-interactive-target="navToggle"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
