<div
    role="tabpanel"
    data-ui-role="tabs-content"
    data-value="{{ value }}"
    hidden
    data-symfony--ux-blocks-extended--tabs-target="panel"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
