<div
    data-ui-role="alert"
    data-ui-fragment="blocks.ext.alert"
    data-ui-variant="{{ semantic_variant }}"
    role="alert"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
