<div
    data-ui-role="alert"
    data-ui-fragment="blocks.ext.alert"
    data-ui-variant="{{ semantic_variant }}"
    role="alert"
    data-controller="symfinity--ux-blocks-core--alert"
    {{ attributes }}
>
    {% block content %}{% endblock %}
    {% if dismissible %}
        <button
            type="button"
            data-ui-role="alert-dismiss"
            data-alert-dismiss
            data-action="click->symfinity--ux-blocks-core--alert#dismiss"
            aria-label="Close"
        ></button>
    {% endif %}
</div>
