<div
    data-ui-role="alert"
    data-ui-fragment="blocks.ext.alert"
    data-ui-variant="{{ semantic_variant }}"
    role="alert"
    data-controller="symfinity--ux-blocks-core--alert"
    {{ attributes }}
>
    <div data-ui-part="alert-body">
        {% include '@UxBlocksCore/components/_shared/p_icon_slot.html.twig' with {
            iconName: resolved_alert_icon,
            iconDecorative: iconDecorative,
        } only %}
        <div data-ui-part="content">{% block content %}{% endblock %}</div>
    </div>
    {% if dismissible %}
        <button
            type="button"
            data-ui-role="alert-dismiss"
            data-alert-dismiss
            data-action="click->symfinity--ux-blocks-core--alert#dismiss"
            aria-label="Close"
        ></button>
    {% endif %}
</div>
