<div
    data-ui-role="combobox"
    data-ui-fragment="blocks.ext.combobox"
    data-controller="symfony--ux-blocks-extended--combobox"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
