<div
    data-ui-role="dashboard-shell"
    data-ui-fragment="blocks.ext.dashboard-shell"
    {{ attributes }}
>
    <aside data-ui-slot="sidebar">
        {% block sidebar %}{% endblock %}
    </aside>
    <main data-ui-slot="main">
        {% block content %}{% endblock %}
    </main>
</div>
