<div
    data-ui-role="data-table-chrome"
    data-ui-fragment="blocks.ext.data-table-chrome"
    data-controller="symfony--ux-blocks-extended--data-table-chrome"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
