<div
    data-ui-role="date-picker"
    data-ui-fragment="blocks.ext.date-picker"
    data-controller="symfony--ux-blocks-extended--date-picker"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
