<div
    data-ui-role="drawer"
    data-ui-fragment="blocks.ext.drawer"
    data-controller="symfony--ux-blocks-extended--drawer"
    data-symfony--ux-blocks-extended--drawer-side-value="{{ side }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
