<div
    data-ui-role="dropdown-menu"
    data-ui-fragment="blocks.ext.dropdown-menu"
    data-controller="symfony--ux-blocks-extended--dropdown-menu"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
