<div
    data-ui-role="empty-media"
    data-ui-part="media"
    {{ attributes }}
>
    {% include '@UxBlocksCore/components/_shared/p_icon_slot.html.twig' with {
        iconName: resolved_media_icon,
        iconDecorative: iconDecorative,
    } only %}
    {% block content %}{% endblock %}
</div>
