<div
    data-ui-role="hover-card"
    data-ui-fragment="blocks.ext.hover-card"
    data-controller="symfony--ux-blocks-extended--hover-card"
    data-symfony--ux-blocks-extended--hover-card-open-delay-value="{{ openDelay }}"
    data-symfony--ux-blocks-extended--hover-card-close-delay-value="{{ closeDelay }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
