<div
    data-ui-role="sheet"
    data-ui-fragment="blocks.ext.sheet"
    data-controller="symfony--ux-blocks-extended--sheet"
    data-symfony--ux-blocks-extended--sheet-side-value="{{ side }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
