<div
    data-ui-role="sidebar"
    data-ui-fragment="blocks.ext.sidebar"
    data-controller="symfony--ux-blocks-extended--sidebar"
    data-symfony--ux-blocks-extended--sidebar-side-value="{{ side }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
