<div
    data-ui-role="stacked-layout-interactive"
    data-ui-fragment="blocks.ext.stacked-layout-interactive"
    data-controller="symfony--ux-blocks-extended--stacked-layout-interactive"
    data-symfony--ux-blocks-extended--stacked-layout-interactive-default-panel-value="{{ defaultPanel }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
