<div
    data-ui-role="stack"
    data-ui-fragment="blocks.ext.stack"
    data-ui-direction="{{ direction }}"
    data-ui-gap="{{ gap }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
