<div
    data-ui-role="tabs"
    data-ui-fragment="blocks.ext.tabs"
    data-controller="symfony--ux-blocks-extended--tabs"
    data-symfony--ux-blocks-extended--tabs-orientation-value="{{ orientation }}"
    data-symfony--ux-blocks-extended--tabs-default-value-value="{{ defaultValue }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
